body{
	min-height: 100vh;
	background: black;
	color: white;
}

.title{
	font-family: monospace;
	font-size: 60px;
	text-decoration: underline dashed;
	margin-bottom: 0px;
}

.options{
	display: flex;
	justify-content: flex-end;
	margin: 10px 5px 0px 0px;
}

.top-button{
	font-family: monospace;;
	font-size: 20px;
	text-transform: capitalize;
	color: white;
	background: black;
	outline: none;
	border: 1px solid white;
}

.clock{
	border-radius: 10px 0px 0px 10px;
	background: lightgrey;
	color: black;
	cursor: pointer;
}

.clock:hover{
	background: lightgrey;
	color: black;
}

.timer{
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
}


.stopwatch{
	cursor: pointer;
}

.stopwatch:hover{
	background: lightgrey;
	color: black;
}

.contents{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 110px;
	text-transform: capitalize;
}

.bottom-buttons{
	font-family: monospace;
	font-size: 40px;
	margin-top: 20px;
	text-transform: capitalize;
	border: none;
	outline: none;
	color: white;
	background: black;
	cursor: pointer;
}

.time{
	font-family: 'Orbitron', monospace;
	font-size: 5rem;
}

.start{
	margin-right: 35px;
}

.start:active{
	font-size: 39px;
}

.pause:active{
	font-size: 39px;
}

.reset{
	margin-left: 35px;
}

.reset:active{
	font-size: 39px;
}